# Docker-Craft Unified Compose File
# Manages all servers

services:
  # ATM-10 Minecraft Server (Server 1)
  atm10-server:

    image: itzg/minecraft-server:latest
    container_name: atm10-minecraft
    profiles: ["atm10"]

    tty: true
    stdin_open: true
    ports:
      - "25565:25565"

    environment:
      EULA: "TRUE"
      ONLINE_MODE: "false"
      ALLOW_FLIGHT: "true"
      PVP: "false"
      DIFFICULTY: "3"

      OPS: "KaYdZyU_1"

      TYPE: "AUTO_CURSEFORGE"
      VERSION: "1.21.1"
      CF_PAGE_URL: "https://www.curseforge.com/minecraft/modpacks/all-the-mods-10/files/7361423"
      CF_API_KEY: ${CF_API_KEY}
      
      MEMORY: "10240M"
      SEED: "836690723"
      SIMULATION_DISTANCE: "4"
      VIEW_DISTANCE: "6"
      JVM_OPTS: "-Xms6G -Xmx10G -XX:+UseG1GC -XX:+ParallelRefProcEnabled -XX:MaxGCPauseMillis=200 -XX:+UnlockExperimentalVMOptions -XX:+DisableExplicitGC -XX:G1NewSizePercent=20 -XX:G1MaxNewSizePercent=40 -XX:G1HeapRegionSize=16M -XX:G1ReservePercent=15 -XX:G1HeapWastePercent=5"

    volumes:
      - "./ATM-10/data:/data"
    restart: unless-stopped



  # School-21 Minecraft Server (Server 2)
  school21-server:

    image: itzg/minecraft-server:java17
    container_name: school21-minecraft
    profiles: ["school21"]

    tty: true
    stdin_open: true
    ports:
      - "25565:25565"

    environment:
      EULA: "TRUE"
      ONLINE_MODE: "false"
      ALLOW_FLIGHT: "true"
      PVP: "false"
      DIFFICULTY: "1"

      OPS: "KaYdZyU_1"

      TYPE: "AUTO_CURSEFORGE"
      CF_PAGE_URL: "https://www.curseforge.com/minecraft/modpacks/deceasedcraft/files/5525524"
      CF_API_KEY: ${CF_API_KEY}
      MEMORY: "10240M"

    volumes:
      - "./School-21/data:/data"
    restart: unless-stopped

